# React
frontend/ems-frontend/node_modules/
frontend/ems-fronten/dist/

# Spring Boot
backend/ems-backend/target/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env